/* Estilos generales */

body {
  font-family: Inter, sans-serif;
  height: auto;
  color: white;
  background-color: #e9e9f0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-content {
  display: flex;
  align-items: center;
}

.header-content img {
  border-radius: 50%; /* Imagen de perfil redondeada */
  margin-right: 15px;
  width: 50px; /* Tamaño de la imagen */
  height: 50px; /* Tamaño de la imagen */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Fondo del encabezado */
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutíl */
  z-index: 100; /* Asegurar que esté por encima del resto del contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centrar el texto */
  color: black;
}

main {
  padding-top: 80px; /* Ajustar el espacio para el header */
  padding-bottom: 80px; /* Ajustar el espacio para el footer */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* Fondo del footer */
  padding: 20px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutíl hacia arriba */
  z-index: 100; /* Asegurar que esté por encima del resto del contenido */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centrar el texto */
}
